@font-face {
    font-family: 'Angel Wish'; 
    src: url('fonts/angel_wish/Angel\ wish.otf');
}
@font-face {
    font-family: 'Pokemon Pixels';
    src: url('fonts/pokemon_pixels_1/Pokemon\ Pixels.ttf');
}           