
*{
padding: 0%;
margin: 0%;
} body{
background-image: url(https://ihttps://p7.hiclipart.com/preview/858/789/71/pokemon-espurr-deviantart-pokemon.jpg-.redd.it/391eu1s8wn9e1.gif);
}
#icone{
width: 300px;
}